# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [100]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
city_data = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(city_data)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Sinjar,IQ,36.3209,41.8754,64.94,27,44,7.54,scattered clouds
1,1,Bluff,NZ,-46.6000,168.3333,63.81,66,43,3.80,scattered clouds
2,2,Iqaluit,CA,63.7506,-68.5145,29.93,100,100,11.50,light snow
3,3,Port Elizabeth,ZA,-33.9180,25.5701,59.09,96,100,11.50,shower rain
4,4,Avera,US,33.1940,-82.5271,60.39,86,100,9.06,overcast clouds
5,5,Hilo,US,19.7297,-155.0900,82.13,81,0,8.05,clear sky
6,6,Masvingo,ZW,-20.0637,30.8277,66.58,61,15,4.34,few clouds
7,7,Uvira,CD,-3.4067,29.1458,74.35,70,77,1.52,broken clouds
8,8,Takoradi,GH,4.8845,-1.7554,78.21,83,2,4.43,clear sky
9,9,Pevek,RU,69.7008,170.3133,6.17,96,100,5.48,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you would like for your trip? '))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &\
                                       (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Hilo,US,19.7297,-155.0900,82.13,81,0,8.05,clear sky
8,8,Takoradi,GH,4.8845,-1.7554,78.21,83,2,4.43,clear sky
10,10,Kapaa,US,22.0752,-159.3190,85.98,78,0,16.11,light rain
17,17,Bandarbeyla,SO,9.4942,50.8122,77.61,81,24,5.53,light rain
22,22,Vaini,TO,-21.2000,-175.2000,80.76,83,75,13.80,broken clouds
25,25,Poum,NC,-20.2333,164.0167,78.33,74,5,16.93,clear sky
29,29,Saint-Louis,SN,16.3333,-15.0000,83.10,15,52,8.43,broken clouds
38,38,Butaritari,KI,3.0707,172.7902,79.84,72,43,9.66,scattered clouds
56,56,Eydhafushi,MV,5.1033,73.0708,80.76,71,85,7.65,overcast clouds
57,57,Faanui,PF,-16.4833,-151.7500,79.48,78,14,12.57,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Hilo,US,19.7297,-155.0900,82.13,81,0,8.05,clear sky
8,8,Takoradi,GH,4.8845,-1.7554,78.21,83,2,4.43,clear sky
10,10,Kapaa,US,22.0752,-159.3190,85.98,78,0,16.11,light rain
17,17,Bandarbeyla,SO,9.4942,50.8122,77.61,81,24,5.53,light rain
22,22,Vaini,TO,-21.2000,-175.2000,80.76,83,75,13.80,broken clouds
25,25,Poum,NC,-20.2333,164.0167,78.33,74,5,16.93,clear sky
29,29,Saint-Louis,SN,16.3333,-15.0000,83.10,15,52,8.43,broken clouds
38,38,Butaritari,KI,3.0707,172.7902,79.84,72,43,9.66,scattered clouds
56,56,Eydhafushi,MV,5.1033,73.0708,80.76,71,85,7.65,overcast clouds
57,57,Faanui,PF,-16.4833,-151.7500,79.48,78,14,12.57,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [17]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Weather Description', 'Lat', 'Lng']]

# Display sample data
hotel_df.head(10)

           City Country  Max Temp Weather Description      Lat       Lng
5          Hilo      US     82.13           clear sky  19.7297 -155.0900
8      Takoradi      GH     78.21           clear sky   4.8845   -1.7554
10        Kapaa      US     85.98          light rain  22.0752 -159.3190
17  Bandarbeyla      SO     77.61          light rain   9.4942   50.8122
22        Vaini      TO     80.76       broken clouds -21.2000 -175.2000
25         Poum      NC     78.33           clear sky -20.2333  164.0167
29  Saint-Louis      SN     83.10       broken clouds  16.3333  -15.0000
38   Butaritari      KI     79.84    scattered clouds   3.0707  172.7902
56   Eydhafushi      MV     80.76     overcast clouds   5.1033   73.0708
57       Faanui      PF     79.48          light rain -16.4833 -151.7500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [56]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = None

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Hilo,US,82.13,clear sky,19.7297,-155.0900,None
8,Takoradi,GH,78.21,clear sky,4.8845,-1.7554,None
10,Kapaa,US,85.98,light rain,22.0752,-159.3190,None
17,Bandarbeyla,SO,77.61,light rain,9.4942,50.8122,None
22,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,None
25,Poum,NC,78.33,clear sky,-20.2333,164.0167,None
29,Saint-Louis,SN,83.10,broken clouds,16.3333,-15.0000,None
38,Butaritari,KI,79.84,scattered clouds,3.0707,172.7902,None
56,Eydhafushi,MV,80.76,overcast clouds,5.1033,73.0708,None
57,Faanui,PF,79.48,light rain,-16.4833,-151.7500,None

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [101]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [58]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [67]:
# Drop the rows where there is no Hotel Name.
# clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Hilo,US,82.13,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Takoradi,GH,78.21,clear sky,4.8845,-1.7554,Raybow International Hotel
10,Kapaa,US,85.98,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Bandarbeyla,SO,77.61,light rain,9.4942,50.8122,JABIR HOTEL
22,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
38,Butaritari,KI,79.84,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
56,Eydhafushi,MV,80.76,overcast clouds,5.1033,73.0708,Soneva Fushi
57,Faanui,PF,79.48,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
64,Champerico,GT,80.37,few clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
67,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [87]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [89]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [90]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Raybow International Hotel</dd>\n<dt>City</dt><dd>Takoradi</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 85.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JABIR HOTEL</dd>\n<dt>City</dt><dd>Bandarbeyla</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>light rain and 77.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Soneva Fushi</dd>\n<dt>City</dt><dd>Eydhafushi</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 79.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel y restaurante "El Diamante"</dd>\n<dt>City</dt><dd>Champerico</dd>\n<dt>Country</dt><dd>GT</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.89 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [91]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5   19.7297 -155.0900
8    4.8845   -1.7554
10  22.0752 -159.3190
17   9.4942   50.8122
22 -21.2000 -175.2000
38   3.0707  172.7902
56   5.1033   73.0708
57 -16.4833 -151.7500
64  14.3000  -91.9167
67   5.4112  100.3354

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [93]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))