# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [54]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.groupby('Country').nunique()

         Unnamed: 0  City  Max Temp  Weather Description  Lat  Lng  Hotel Name
Country
AE                1     1         1                    1    1    1           1
AO                1     1         1                    1    1    1           1
AU               12    12        12                    5   11   12          12
BB                1     1         1                    1    1    1           1
BF                1     1         1                    1    1    1           1
...             ...   ...       ...                  ...  ...  ...         ...
US                8     8         8                    5    8    8           8
VE                1     1         1                    1    1    1           1
VN                1     1         1                    1    1    1           1
VU                2     2         2                    2    2    2           2
YT                1     1         1                    1    1    1           1

[61 rows x 7 columns]

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [9]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [55]:
vacation_cities_df = vacation_df.loc[vacation_df['Country'] == 'AU']
vacation_cities_df

,Unnamed: 0,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
10,71,Alyangula,AU,87.85,broken clouds,-13.8483,136.4192,Groote Eylandt Lodge
24,121,Karratha,AU,82.71,clear sky,-20.7377,116.8463,ibis Styles Karratha
36,169,Coolum Beach,AU,81.10,scattered clouds,-26.5333,153.1000,Coolum Beach Resort
44,192,Flinders,AU,81.68,light rain,-34.5833,150.8552,Shellharbour Resort & Conference Centre
71,321,Ulladulla,AU,81.50,light rain,-35.3500,150.4667,Sandpiper Motel
83,361,Port Hedland,AU,80.65,clear sky,-20.3167,118.5667,The Esplanade Hotel
119,503,Broken Hill,AU,76.71,broken clouds,-31.9500,141.4333,Royal Exchange Hotel
123,514,Bundaberg,AU,84.22,clear sky,-24.8500,152.3500,Takalvan Motel
134,548,Nelson Bay,AU,84.25,overcast clouds,-32.7167,152.1500,Mantra Nelson Bay
135,549,Kingaroy,AU,88.34,broken clouds,-26.5333,151.8333,Ascot Lodge Motel Kingaroy
176,702,Victoria Point,AU,86.68,broken clouds,-27.5833,153.3000,Bay Retreat Motel
178,710,Alice Springs,AU,83.75,scattered clouds,-23.7000,133.8833,Desert Palms Alice Springs

In [69]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] =='Port Hedland']
vacation_end = vacation_df.loc[vacation_df['City'] =='Port Hedland']
vacation_stop1 = vacation_df.loc[vacation_df['City'] =='Bundaberg']
vacation_stop2 = vacation_df.loc[vacation_df['City'] =='Victoria Point']
vacation_stop3 = vacation_df.loc[vacation_df['City'] =='Alice Springs']

print(vacation_start)
print(vacation_end)
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

    Unnamed: 0          City Country  Max Temp Weather Description      Lat  \
83         361  Port Hedland      AU     80.65           clear sky -20.3167

         Lng           Hotel Name
83  118.5667  The Esplanade Hotel
    Unnamed: 0          City Country  Max Temp Weather Description      Lat  \
83         361  Port Hedland      AU     80.65           clear sky -20.3167

         Lng           Hotel Name
83  118.5667  The Esplanade Hotel
     Unnamed: 0       City Country  Max Temp Weather Description    Lat  \
123         514  Bundaberg      AU     84.22           clear sky -24.85

        Lng      Hotel Name
123  152.35  Takalvan Motel
     Unnamed: 0            City Country  Max Temp Weather Description  \
176         702  Victoria Point      AU     86.68       broken clouds

         Lat    Lng         Hotel Name
176 -27.5833  153.3  Bay Retreat Motel
     Unnamed: 0           City Country  Max Temp Weather Description   Lat  \
178         710  Alice Springs      AU     83.75    scattered clouds -23.7

          Lng                  Hotel Name
178  133.8833  Desert Palms Alice Springs

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [73]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

[-20.3167 118.5667]
[-20.3167 118.5667]
[-24.85 152.35]
[-27.5833 153.3   ]
[-23.7    133.8833]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [74]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [75]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,361,Port Hedland,AU,80.65,clear sky,-20.3167,118.5667,The Esplanade Hotel
1,514,Bundaberg,AU,84.22,clear sky,-24.8500,152.3500,Takalvan Motel
2,702,Victoria Point,AU,86.68,broken clouds,-27.5833,153.3000,Bay Retreat Motel
3,710,Alice Springs,AU,83.75,scattered clouds,-23.7000,133.8833,Desert Palms Alice Springs

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [79]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [80]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))